ESBUIPackage/pub/ContentModel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wd-wsdl="urn:com.workday/bsvc/Notification"
                  xmlns:wd="urn:com.workday/bsvc"
                  xmlns:nyw="urn:com.netyourwork/aod"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:httpbind="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mimebind="http://schemas.xmlsoap.org/wsdl/mime/"
                  name="Notification"
                  targetNamespace="urn:com.workday/bsvc/Notification">
   <wsdl:documentation>The Notification Web Service provides an operation that informs external systems of business events that occur within Workday. The WSDL for this service provides the structure that needs to be implemented by an external system to receive notifications for their subscribed Workday business events. Subscriptions and Notification details (i.e. Endpoint and security information) are defined within the Workday application.</wsdl:documentation>
   <wsdl:types>
      <xsd:schema elementFormDefault="qualified" attributeFormDefault="qualified"
                  targetNamespace="urn:com.workday/bsvc">
         <xsd:element name="Notification_Data" type="wd:Notification_DataRootType"/>
         <xsd:attribute name="version" type="xsd:string" wd:fixed="v12"/>
         <xsd:simpleType name="Event_TargetReferenceEnumeration">
            <xsd:restriction base="xsd:string">
               <xsd:annotation>
                  <xsd:appinfo>
                     <wd:enumeration value="WID"/>
                     <wd:enumeration value="Accounting_Journal_ID"/>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="Transaction_LogReferenceEnumeration">
            <xsd:restriction base="xsd:string">
               <xsd:annotation>
                  <xsd:appinfo>
                     <wd:enumeration value="WID"/>
                     <wd:enumeration value="Business_Plan_Amendment_ID"/>
                  </xsd:appinfo>
               </xsd:annotation>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="Notification_DataRootType">
            <xsd:complexContent>
               <xsd:extension base="wd:Notification_DataType">
                  <xsd:attribute ref="wd:version"/>
               </xsd:extension>
            </xsd:complexContent>
         </xsd:complexType>
         <xsd:complexType name="Event_TargetObjectIDType">
            <xsd:annotation>
               <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="xsd:string">
                  <xsd:attribute name="type" type="wd:Event_TargetReferenceEnumeration" use="required">
                     <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="parent_id" type="xsd:string">
                     <xsd:annotation>
                        <xsd:documentation>Contains a unique identifier for an instance of a parent object</xsd:documentation>
                     </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="parent_type">
                     <xsd:annotation>
                        <xsd:documentation>The unique identifier type of a parent object</xsd:documentation>
                     </xsd:annotation>
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                           <xsd:annotation>
                              <xsd:appinfo>
                                 <wd:enumeration value="WID"/>
                                 <wd:enumeration value="Document_Number"/>
                                 <wd:enumeration value="Purchase_Order_Reference_ID"/>
                              </xsd:appinfo>
                           </xsd:annotation>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:complexType name="Transaction_LogObjectIDType">
            <xsd:annotation>
               <xsd:documentation>Contains a unique identifier for an instance of an object.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="xsd:string">
                  <xsd:attribute name="type" type="wd:Transaction_LogReferenceEnumeration" use="required">
                     <xsd:annotation>
                        <xsd:documentation>The unique identifier type. Each "ID" for an instance of an object contains a type and a value. A single instance of an object can have multiple "ID" but only a single "ID" per "type".</xsd:documentation>
                     </xsd:annotation>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:complexType name="Event_TargetObjectType">
            <xsd:annotation wd:Is_Reference_ID="1"/>
            <xsd:sequence>
               <xsd:element name="ID" type="wd:Event_TargetObjectIDType" minOccurs="0"
                            maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="Descriptor" type="xsd:string">
               <xsd:annotation>
                  <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:complexType>
         <xsd:complexType name="Transaction_LogObjectType">
            <xsd:annotation wd:Is_Reference_ID="1"/>
            <xsd:sequence>
               <xsd:element name="ID" type="wd:Transaction_LogObjectIDType" minOccurs="0"
                            maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="Descriptor" type="xsd:string">
               <xsd:annotation>
                  <xsd:documentation>Display information used to describe an instance of an object. This 'optional' information is for outbound descriptive purposes only and is not processed on inbound Workday Web Services requests.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
         </xsd:complexType>
         <xsd:complexType name="Event_DataType">
            <xsd:sequence>
               <xsd:element name="Event_Reference" type="wd:Transaction_LogObjectType">
                  <xsd:annotation>
                     <xsd:documentation>Uniquely identifies an instance of a Business Event (e.g. an Employee Hire Event or an Organization Reorganization event)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="File_Content" type="xsd:base64Binary" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>File content in binary format.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Event_Name" type="xsd:string" maxOccurs="1"/>
               <xsd:element name="Notification_Trigger" type="xsd:string" maxOccurs="1"/>
               <xsd:element name="Event_Completion_Date" type="xsd:dateTime" maxOccurs="1"/>
               <xsd:element name="Event_Effective_Date" type="xsd:date" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="Tenant_Name" type="xsd:string" maxOccurs="1"/>
               <xsd:element name="System_ID" type="xsd:string" maxOccurs="1"/>
               <xsd:element name="Transaction_Target_Reference" type="wd:Event_TargetObjectType"
                            minOccurs="0"
                            maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation>Identifies the Business Objects that this event applies to (e.g. an Employee for a Hire Employee Event or an Organization for a Reorganization Event)</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Notification_DataType">
            <xsd:sequence>
               <xsd:element name="Event_Data" type="wd:Event_DataType"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="Notification_DataInputMsg">
      <wsdl:part name="body" element="wd:Notification_Data"/>
   </wsdl:message>
   <wsdl:portType name="NotificationPort">
      <wsdl:documentation>The Notification Web Service provides an operation that informs external systems of business events that occur within Workday. The WSDL for this service provides the structure that needs to be implemented by an external system to receive notifications for their subscribed Workday business events. Subscriptions and Notification details (i.e. Endpoint and security information) are defined within the Workday application.</wsdl:documentation>
      <wsdl:operation name="Receive_Notification">
         <wsdl:documentation>Receives notification from Workday</wsdl:documentation>
         <wsdl:input name="Receive_NotificationInput" message="wd-wsdl:Notification_DataInputMsg"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="NotificationBinding" type="wd-wsdl:NotificationPort">
      <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="Receive_Notification">
         <soapbind:operation style="document"/>
         <wsdl:input name="Receive_NotificationInput">
            <soapbind:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="NotificationService">
      <wsdl:port name="Notification" binding="wd-wsdl:NotificationBinding">
         <soapbind:address location="Notification"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>